h1, h3 {
    text-align: center;
}
.invisible {
    display: none;
}
.logInDiv {
    flex-direction: column;
    text-align: right;
}
table {
    width: 100%;
    background-color:#ffffcc;
    border-collapse: collapse;
    border: 1px solid #ffcc00;
}
th, td {
    padding: 4px;
    overflow: hidden;
}
td {
    height: 53px;
}
td > button {
    border: none;
    background: rgb(52, 152, 219);
    background-image: linear-gradient(to bottom, rgb(52, 152, 219), rgb(41, 128, 185));
    font-family: Arial;
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-right: 2%;
}
td > button:hover {
    background: rgb(60, 176, 253);
    background-image: linear-gradient(to bottom, rgb(60, 176, 253), rgb(52, 152, 219));
    text-decoration: none;
}
td > img {
    flex: none;
    width: 26px;
    align-self: center;
    margin-right: 5px;
}