<!-- Custom CSS -->
<link rel="stylesheet" href="/index/style.css" type="text/css">

<div class="initVis visibile">
    <div class="row">
        <form class="col-lg-3 userName">
            Select A User Name:<br>
            <input class="mt-2 user_name" type="text" name="user_name" placeholder="Anonymous">
            <br>
            <input class="mt-2" type="submit" value="Select User">
            <div class="err usernameErr"></div>
        </form>
    </div>
</div>

<div class="initInvis invisible">
    <div class="row logInDiv">
        <div class="logInName">Logged in as:</div>
        <div>
            <button class="logOut">Log Out</button>
        </div>
    </div>

    <div class="row">
        <form class="col-lg-3 newBurger">
            New Burger:<br>
            <input class="mt-2" type="text" name="burger_name" placeholder="Big Mac">
            <br>
            <input class="mt-2" type="submit" value="Cook it!">
            <div class="err burgerErr"></div>
        </form>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <table border="1">
                <colgroup>
                    <col style="width: 73px;"> {{!-- The width of an eat button --}}
                    <col style="width: calc( 66% - ( 2 / 3 * 73px ) );">
                    <col style="width: calc( 33% - ( 1 / 3 * 73px ) );">
                </colgroup>
                <tbody>
                    <tr>
                        <th></th>
                        <th>The Latest Burgers</th>
                        <th>Eaten By</th>
                    </tr>
                    {{#each burgers}}
                    <tr>
                        <td>
                            {{#unless devoured_by}}
                            <button data-id={{id}} class="eatBurger">Eat</button>
                            {{/unless}}
                        </td>
                        <td>
                            <img src="/index/burger.png">
                            {{burger_name}}
                        </td>
                        <td>
                            {{user.user_name}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Client Side JS Handling -->
<script src="/index/client.js"></script>